<!DOCTYPE html>
<html>
<head>
    <title>阅读器API创建器</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3003/style.css">
</head>
<body>
<div id="app">
    <div><%- app %></div>
</div>
</body>
<script src="http://127.0.0.1:3003/bundle.js"></script>
</html>
